<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

    {% extends 'base.html' %}

    {% block content %}
    <div class="container">
      <h1 class="my-4">Flask CRUD</h1>
      {% if vilenaves|length < 1 %}
      <p>There is nothing to buy for now.</p>
      {% else %}
      <table class="table">
        <thead>
          <tr>
            <th>id_mutation</th>
            <th>date_mutation</th>
            <th>numero_disposition</th>
            <th>nature_mutation</th>
            <th>valeur_fonciere</th>
          </tr>
        </thead>
        <tbody>
          {% for vilenave in vilenaves %}
          <tr>
            <td><a href="/update/{{ vilenave.id }}">{{ vilenave.id_mutation }}</a></td>
            <td>{{ vilenave.date_mutation }}</td>
            <td>{{ vilenave.numero_disposition }}</td>
            <td>{{ vilenave.nature_mutation }}</td>
            <td>{{ vilenave.valeur_fonciere }}</td>
            <td class="text-right"><a class="btn btn-danger btn-sm" href="/delete/{{ vilenave.id }}" role="button">Delete</a></td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    
      {% include 'snippets/form.html' %}
    </div>
    {% endblock content %}
</body>

</html>