<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  {% extends 'base.html' %}

  {% block content %}
  <div class="container">
    <h1 class="my-4">Update Data</h1>
    <form action="/update/{{ vilenave.id }}" method="POST">
      <div class="form-row">
        <div class="col-sm-2 my-1">
          <input type="text" class="form-control" name="id_mutation" value="{{ vilenave.id_mutation }}" >
        </div>
        <div class="col-sm-2 my-1">
          <input type="text" class="form-control" name="date_mutation" value="{{ vilenave.date_mutation }}">
        </div>
        <div class="col-sm-2 my-1">
          <input type="text" class="form-control" name="numero_disposition" value="{{ vilenave.numero_disposition }}">
        </div>
        <div class="col-sm-2 my-1">
          <input type="text" class="form-control" name="nature_mutation" value="{{ vilenave.nature_mutation }}">
        </div>
        <div class="col-sm-2 my-1">
          <input type="text" class="form-control" name="valeur_fonciere" value="{{ vilenave.valeur_fonciere }}">
        </div>
        <div class="col-sm-2 my-1">
          <button type="submit" class="btn btn-primary btn-block">Update</button>
        </div>
      </div>
    </form>
  </div>
  {% endblock content %}
</body>

</html>